body {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-size: 100%;
}
a[href="niveles.html"] {
  color: #093AEA;
}
header img {
  float: left;
}
section h1 {
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 30px;
  padding-bottom: 50px;
}

section article img {
  display: inline-block;
}
section article p {
  text-align: right;
  display: inline-block;
  vertical-align: top;
}
section article {
  display: inline-block;
  width: 30%;
  height: 205px;
  border: #000000;
  border-style: outset;
}
a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}
table p {
  vertical-align: top;
  float: right;
}
table {
  background-color: white;
}
table td {
  border: 1ch;
  border-radius: 15px;
  border-style: double;
  border-color: white;
}
table {
  border-radius: 15px;
}