a[href="sobre-nosotros.html"] {
    color: #093aea;
}
a[href="index.html"] {
    color: white;
}
a[href="noticias.html"] {
    color: white;
}
a[href="contacto.html"] {
    color: white;
}
a[href="niveles.html"] {
    color: white;
}
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-size: 100%;
}  
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
section h2{
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 20px;
    color: white;
}
section p{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;
    
}

.carac {
    margin-top: 3em;
    text-align: center;
    color: black;
}

.carac > div {
    display: inline-block;
    width: 23%;
    margin: 4%;
    border-radius: 40px;
    box-shadow: 1px 1px 30px rgb(0, 0, 0);
    height: 400px;
    background: white;
}
  
 
.titulo-carac {
    margin: 10% 0 5% 0;
    font-size: 1.6em;
}
  
.desc-carac {
    font-size: 20px;
    font-weight: 200;
    color: black;
}
.historia{
    margin: auto;
    width: 95%;
    height: 500px;
    background: #2967C3;
    border-radius: 40px;
}  
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    flex-wrap: wrap;
    margin: auto;
}
.container .card{

    position: relative;
    width: 100%;
    padding: 20px;
    margin: 20px;
    background: #2967C3;
    border-radius: 40px;
}
.container .card h1{
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center;
    color: white;
}
.container .card .content{
    position: relative;
    height: 230px;
    overflow: hidden;
}
.container .card p{
    color: white;
    font-size: 15px;
    font-weight: 200;
    line-height: 30px;
}
.container .card .content::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: linear-gradient(transparent,#2967C3 );
}
.container .card .more{
    position: relative;
    padding: 10px 15px;
    background: white;
    margin-top: 15px;
    display: inline-block;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 2px;
}
.container .card .more::before{
    content: 'Leer más';
}
.container .card.active .more::before{
    content: 'Leer menos';
}
.container .card.active .content{
    height: auto;
}
.container .card.active .content::before{
    display: none;
}

.directora{
    align-items: center;
    display: inline-block;
    margin: 2%;
    margin-left: 7%;
    position: relative;
}
.directora img{
    height: 400px;
    width: 500px;
    border-radius: 30px;

}

.titulo{
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center;
    color: black;
}

